h1 {
    animation: aparece 2s ease-out;
    -webkit-animation: aparece 2s ease-out;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s linear, box-shadow 2s ease-in;
    transition-delay: 0s, 1s;
    animation: quica 1s infinite;
    -webkit-animation: quica 1s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    position: relative;
}

@keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

@-webkit-keyframes quica {
    from {
        top: 0;
    }
    to {
        top: 1em;
    }
}
.citacao-bio::before {
    content: "";
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #BBB;
    z-index: 1;
}

.citacao-bio > p {
    position: relative;
    z-index: 2;
}

.citacao-bio:hover, citacao-bio:focus {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.citacao-bio:nth-of-type(odd):hover, .citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover, .citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}

table {
    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 1em;
}

td {
    background-color: #EEE;
}
.habilidade {
    background-color: #851944;
    color: white;
    font-weight: bold;
}

thead {
    background-color: #3C1D3D;
    color: white;
    font-weight: bold;
}

tr, td, th {
    margin: 0.25em;
    padding: 1em;
}

.estudando {
    font-style: italic;
    text-align: center;
}
